.container {
  display: grid;
  grid-gap: 0;
  height: 100vh;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  border:1px solid black;
}

.form-col{
  grid-column: 3;
  grid-row: 1;
  border:1px solid green;
}

.table-col{
  grid-column: 2;
  grid-row: 1;
  border:1px solid blue;
}

.graph-col{
  grid-column: 1;
  grid-row: 1;
  border:1px solid red;
}

.center{
  display: flex;
  justify-content: center;
}
